<div>
  <mat-tab-group>
    <mat-tab label="Calculadora simple de sueldo">
      <div class="m-2 flex gap-2">
        <select-chip
          label="Tecnologias"
          color="blue"
          [data]="tecnologiasUnselected"
          (selected)="tecnologiasSelectedEvent($event)"></select-chip>

        <select-chip
          label="Ubicación"
          color="blue"
          [data]="ubicacionesUnselected"
          (selected)="ubicacionSelectedEvent($event)"></select-chip>
      </div>
    </mat-tab>
    <mat-tab label="Graficos de sueldo"> Content 2 </mat-tab>
  </mat-tab-group>
</div>
