@use '@angular/material' as mat;

$black: #002b36;
$white: #fdf6e3;

$primary-palette: (
  50: #eee8d5,
  100: #d4d3c6,
  200: #b9beb6,
  300: #9ea9a6,
  400: #839496,
  500: #657b83,
  600: #4e6a73,
  700: #365963,
  800: #1f4853,
  900: #073642,
  contrast: (
    50: $black,
    100: $black,
    200: $black,
    300: $black,
    400: $black,
    500: $white,
    600: $white,
    700: $white,
    800: $white,
    900: $white,
  ),
);

$accent-palette: (
  50: #f7eac6,
  100: #f0dda8,
  200: #ecc75f,
  300: #e0b43e,
  400: #bd9014,
  500: #946f0a,
  600: #775a08,
  700: #694f07,
  800: #5b4406,
  900: #433205,
  contrast: (
    50: $black,
    100: $black,
    200: $black,
    300: $black,
    400: $black,
    500: $white,
    600: $white,
    700: $white,
    800: $white,
    900: $white,
  ),
);

$red-palette: (
  50: #f8d4d3,
  100: #f5c2c1,
  200: #f48fb1,
  300: #e7706d,
  400: #e1514e,
  500: #dc322f,
  600: #d82d2a,
  700: #d32623,
  800: #ce1f1d,
  900: #c51312,
  contrast: (
    50: $black,
    100: $black,
    200: $black,
    300: $black,
    400: $black,
    500: $white,
    600: $white,
    700: $white,
    800: $white,
    900: $white,
  ),
);

$my-primary: mat.define-palette($primary-palette);
$my-accent: mat.define-palette($accent-palette);
$my-warn: mat.define-palette($red-palette);

$light-theme: mat.define-light-theme(
  (
    color: (
      primary: $my-primary,
      accent: $my-accent,
      warn: $my-warn,
    ),
    typography: mat.define-typography-config(),
    density: 0,
  )
);

$dark-theme: mat.define-dark-theme(
  (
    color: (
      primary: $my-primary,
      accent: $my-accent,
      warn: $my-warn,
    ),
    typography: mat.define-typography-config(),
    density: 0,
  )
);

@include mat.core-theme($dark-theme);
